$border-color: rgb(179, 179, 179);
$percent-color: rgb(164, 164, 255);
$bar-height: 3rem;

.bar {
  height: $bar-height;
  border: 1px solid $border-color;
  position: relative;
  margin: 1rem 0;
  span {
    line-height: $bar-height;
  }
  .percent {
    border-right: 1px solid $border-color;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    height: $bar-height;
    background-color: $percent-color;
    transition: width 0.5s;
  }
}
