#__APP {
  height: auto !important;
  overflow-x: hidden;
}

#__APP main + footer {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1023px) {
  #__APP main + footer {
    padding-top: 48px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

html body {
  font-family: BinancePlex, Arial, PingFangSC-Regular, 'Microsoft YaHei',
    sans-serif !important;
}
body {
  font-family: BinancePlex, Arial, PingFangSC-Regular, 'Microsoft YaHei',
    sans-serif !important;
}

html[dir='rtl'] .icon-dir {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

html {
  overflow: -moz-hidden-unscrollable;
  height: 100%;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden !important;
  overflow-y: auto;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

#__next {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

a,
a:active,
a:visited {
  -webkit-text-decoration: none;
  text-decoration: none;
}

input {
  font-family: inherit;
}

input::-webkit-input-placeholder {
  font-style: normal !important;
}

input::-moz-placeholder {
  font-style: normal !important;
}

input:-ms-input-placeholder {
  font-style: normal !important;
}

input::placeholder {
  font-style: normal !important;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
button {
  appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(buttontext, rgb(170, 170, 170));
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
  border-image: initial;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html,
body,
#__next,
#__APP {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

html[dir='rtl'] .mirror {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.rc-table.bordered table {
  border-collapse: collapse;
}

.rc-table.bordered th,
.rc-table.bordered td {
  border: 1px solid #e9e9e9;
}

.rc-table {
  font-size: 12px;
  color: #666;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  position: relative;
  line-height: 1.5;
  overflow: hidden;
}

.rc-table .rc-table-scroll {
  overflow: auto;
}

.rc-table .rc-table-scroll table {
  width: auto;
  min-width: 100%;
}

.rc-table .rc-table-header {
  overflow: hidden;
  background: #f7f7f7;
}

.rc-table-fixed-header .rc-table-body {
  background: #fff;
  position: relative;
}

.rc-table-fixed-header .rc-table-body-inner {
  height: 100%;
  overflow: scroll;
}

.rc-table-fixed-header .rc-table-scroll .rc-table-header {
  padding-bottom: 20px;
  margin-bottom: -20px;
  overflow: scroll;
  box-sizing: border-box;
}

.rc-table-hide-scrollbar {
  -webkit-scrollbar-color: transparent transparent;
  -moz-scrollbar-color: transparent transparent;
  -ms-scrollbar-color: transparent transparent;
  scrollbar-color: transparent transparent;
}

.rc-table-hide-scrollbar::-webkit-scrollbar {
  background-color: transparent;
}

.rc-table-fixed-columns-in-body {
  visibility: hidden;
  pointer-events: none;
}

.rc-table .rc-table-title {
  padding: 12px 16px;
  border-top: 1px solid #e9e9e9;
}

.rc-table .rc-table-content {
  position: relative;
}

.rc-table .rc-table-footer {
  padding: 12px 16px;
  border-bottom: 1px solid #e9e9e9;
}

.rc-table .rc-table-placeholder {
  padding: 12px 16px;
  background: #fff;
  border-bottom: 1px solid #e9e9e9;
  text-align: center;
  position: relative;
}

.rc-table .rc-table-placeholder-fixed-columns {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: transparent;
  pointer-events: none;
}

.rc-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.rc-table th {
  background: #f9f9fa;
  color: #848e9c;
  font-size: 12px;
  font-weight: normal;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.rc-table td {
  border-bottom: 1px solid #eaecef;
  background-color: #fff;
  color: #212833;
  font-size: 14px;
}

.rc-table tr {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.rc-table th,
.rc-table td {
  padding: 12px 16px;
  white-space: nowrap;
}

.rc-table-expand-icon-col {
  width: 34px;
}

.rc-table-row-expand-icon,
.rc-table-expanded-row-expand-icon {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  border: 1px solid #e9e9e9;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #fff;
}

.rc-table-row-spaced,
.rc-table-expanded-row-spaced {
  visibility: hidden;
}

.rc-table-row-spaced:after,
.rc-table-expanded-row-spaced:after {
  content: '.';
}

.rc-table-row-expanded:after,
.rc-table-expanded-row-expanded:after {
  content: '-';
}

.rc-table-row-collapsed:after,
.rc-table-expanded-row-collapsed:after {
  content: '+';
}

tr.rc-table-expanded-row {
  background: #f7f7f7;
}

tr.rc-table-expanded-row:hover {
  background: #f7f7f7;
}

.rc-table-column-hidden {
  display: none;
}

.rc-table-prev-columns-page,
.rc-table-next-columns-page {
  cursor: pointer;
  color: #666;
  z-index: 1;
}

.rc-table-prev-columns-page:hover,
.rc-table-next-columns-page:hover {
  color: #2db7f5;
}

.rc-table-prev-columns-page-disabled,
.rc-table-next-columns-page-disabled {
  cursor: not-allowed;
  color: #999;
}

.rc-table-prev-columns-page-disabled:hover,
.rc-table-next-columns-page-disabled:hover {
  color: #999;
}

.rc-table-prev-columns-page {
  margin-right: 8px;
}

.rc-table-prev-columns-page:before {
  content: '<';
}

.rc-table-next-columns-page {
  float: right;
}

.rc-table-next-columns-page:before {
  content: '>';
}

.rc-table-fixed-left,
.rc-table-fixed-right {
  position: absolute;
  top: 0;
  overflow: hidden;
}

.rc-table-fixed-left table,
.rc-table-fixed-right table {
  width: auto;
  background: #fff;
}

.rc-table-fixed-left {
  left: 0;
  border-right: 1px solid #eaecef;
}

.rc-table-fixed-left .rc-table-body-inner {
  margin-right: -20px;
  padding-right: 20px;
}

.rc-table-fixed-header .rc-table-fixed-left .rc-table-body-inner {
  padding-right: 0;
}

.rc-table-fixed-right {
  right: 0;
  border-left: 1px solid #eaecef;
}

.rc-table-fixed-right .rc-table-expanded-row {
  color: transparent;
  pointer-events: none;
}

.rc-table.rc-table-scroll-position-left .rc-table-fixed-left {
  box-shadow: none;
}

.rc-table.rc-table-scroll-position-right .rc-table-fixed-right {
  box-shadow: none;
}

.rc-table-row-cell-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.rc-table-row-cell-break-word {
  word-wrap: break-word;
  word-break: break-word;
}

.rc-table-layout-fixed table {
  table-layout: fixed;
}

.rc-table .rc-table-placeholder {
  border-bottom: none;
}

.rc-table .rc-table-placeholder .rc-table-cell {
  border-bottom: none;
}

.css-yotb4s {
  margin: 0px 16px 0px 8px;
  min-width: 0px;
  appearance: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(33, 40, 51);
  border-radius: 4px;
  padding: 4px 16px;
  min-height: 32px;
  border: none;
  background-color: rgb(240, 185, 11);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  display: flex;
}

.css-1yztfkw:active,
.css-1yztfkw:visited {
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 1023px) {
  .css-1yztfkw {
    display: flex;
  }
}

.css-1yztfkw {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  padding-left: 8px;
  padding-right: 16px;
  font-size: 14px;
  text-decoration: none;
  flex-shrink: 0;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
