.css-1wsh2kb {
  position: fixed;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #0b0e11;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 9;
}

.css-1wsh2kb img {
  width: 138px;
}

.css-1s6w302 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 16px;
  padding-right: 0;
  position: fixed;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #0b0e11;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 9;
}

@media screen and (min-width: 768px) {
  .css-1s6w302 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .css-1s6w302 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.css-1s6w302 img {
  width: 138px;
}

.css-x84wzl {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.css-ybbx55 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  position: relative;
  display: inline-block;
  outline: none;
}

.css-1xg6rd {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 16px;
}

@media screen and (min-width: 768px) {
  .css-1xg6rd {
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .css-1xg6rd {
    margin-right: 0;
  }
}

.css-193gxw5 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: currentColor;
  width: 24px;
  height: 24px;
  font-size: 24px;
  fill: #1e2026;
  fill: currentColor;
  width: 1em;
  height: 1em;
}

.css-1gybehy {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
}

.css-gv1gi9 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: none;
  pointer-events: none;
  visibility: hidden;
  z-index: 1100;
}

.css-13v0pf7 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-color: #1e2126;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.css-13v0pf7 a {
  color: #fff;
  -webkit-text-decoration: none;
  text-decoration: none;
  padding: 10px 20px;
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  font-size: 14px;
}

.css-13v0pf7 a:hover,
.css-13v0pf7 a.active {
  background: rgba(255, 255, 255, 0.04);
  outline: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: var(--accent);
}

.css-c350kw {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100vw;
  margin-top: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-color: #1e2126;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .css-c350kw {
    width: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .css-c350kw {
    width: 250px;
  }
}

.css-c350kw a {
  color: #fff;
  -webkit-text-decoration: none;
  text-decoration: none;
  padding: 10px 20px;
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  font-size: 14px;
}

.css-c350kw a:hover,
.css-c350kw a.active {
  background: rgba(255, 255, 255, 0.04);
  outline: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: var(--accent);
}

.css-vwpxuw {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: calc(100vh - 70px);
  color: #1e2026;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .css-vwpxuw {
    background-color: #fafafa;
  }
}

.css-8fbwj6 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
}

.css-49kyll {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 2px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .css-49kyll {
    width: 384px;
    margin: 40px auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 0px 2px rgba(0, 0, 0, 0.08);
  }
}

@media screen and (min-width: 1024px) {
  .css-49kyll {
    width: 384px;
    margin: 40px auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 0px 2px rgba(0, 0, 0, 0.08);
  }
}

.css-1lx7oj {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  text-align: center;
}

.css-v2pqf8 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  line-height: 34px;
  color: #1e2026;
  margin-bottom: 12px;
}

.css-glhroo {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #76808f;
  margin-bottom: 32px;
}

.css-vurnku {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
}

.css-1cwscra {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  overflow: scroll;
  -ms-overflow-style: none;
  -webkit-scrollbar-width: none;
  -moz-scrollbar-width: none;
  -ms-scrollbar-width: none;
  scrollbar-width: none;
  position: relative;
  margin-bottom: 24px;
}

.css-1cwscra::-webkit-scrollbar {
  display: none;
}

.css-1cwscra:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  bottom: 0;
  left: 0;
}

.css-1eewrf {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  cursor: pointer;
  min-width: auto;
  position: relative;
  padding-right: 32px;
}

.css-74gvqa {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  padding: 10px 90px;
  height: 100%;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 8px 4px;
  font-size: 16px;
  color: #76808f;
}

.css-74gvqa.active {
  border-bottom: 3px solid;
  border-color: var(--accent);
  color: var(--accent);
}

.css-74gvqa.active {
  color: #1e2026;
  font-weight: 500;
}

.css-gnqbje {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: block;
}

.css-1bzb8nq {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: none;
}

.css-hlfj64 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
}

.css-hlfj64 .bn-input-suffix {
  margin-right: 0px;
  line-height: 0.9;
}

.css-15651n7 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  margin-bottom: 24px;
}

.css-kc8d2n {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 16px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: auto;
  width: 100%;
  margin-right: 0;
}

.css-itrsu7 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #474d57;
}

.css-hiy16i {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  position: relative;
  min-height: 12px;
}

.css-hiy16i.hide {
  height: 0;
  min-height: 0;
  overflow: hidden;
}

.css-wng3sm {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  height: 32px;
  margin-top: 4px;
  margin-bottom: 0px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1.6;
  border: 1px solid transparent;
  border-color: #e6e8ea;
  border-radius: 4px;
  width: 100%;
  height: 40px;
}

.css-wng3sm.bn-input-status-focus .bn-input-label {
  top: -32px;
}

.css-wng3sm .bn-input-label {
  font-size: 12px;
}

.css-wng3sm:hover:not(.bn-input-status-disabled):not(.bn-input-status-error) {
  border-color: var(--accent);
}

.css-wng3sm.bn-input-status-focus {
  border-color: var(--accent);
}

.css-wng3sm.bn-input-status-disabled {
  background-color: #e6e8ea;
}

.css-wng3sm.bn-input-status-disabled > input {
  color: #aeb4bc;
}

.css-wng3sm.bn-input-status-error {
  border-color: #d9304e;
}

.css-wng3sm input {
  color: #1e2026;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
}

.css-wng3sm input:-webkit-autofill {
  -webkit-transition: color 99999s ease-in-out 0s,
    background-color 99999s ease-in-out 0s;
  transition: color 99999s ease-in-out 0s,
    background-color 99999s ease-in-out 0s;
}

.css-wng3sm .bn-input-prefix {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 14px;
}

.css-wng3sm .bn-input-suffix {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 14px;
}

.css-1thkju {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  outline: none;
  border: none;
  background-color: inherit;
  font-size: 16px;
}

.css-1thkju::-webkit-input-placeholder {
  color: #aeb4bc;
  font-size: 14px;
}

.css-1thkju::-moz-placeholder {
  color: #aeb4bc;
  font-size: 14px;
}

.css-1thkju:-ms-input-placeholder {
  color: #aeb4bc;
  font-size: 14px;
}

.css-1thkju::placeholder {
  color: #aeb4bc;
  font-size: 14px;
}

.css-1thkju + label {
  font-size: 14px;
}

.css-jiaj3x {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  margin-top: 4px;
  color: #76808f;
  color: #76808f;
}

.css-1fymml5 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}

.css-1eeb0a2 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  box-sizing: content-box;
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  word-break: normal;
  z-index: 1400;
  max-width: 296px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  -webkit-letter-spacing: 0.32px;
  -moz-letter-spacing: 0.32px;
  -ms-letter-spacing: 0.32px;
  letter-spacing: 0.32px;
  color: #1e2026;
  background-color: #ffffff;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(20, 21, 26, 0.08))
    drop-shadow(0px 7px 14px rgba(71, 77, 87, 0.08))
    drop-shadow(0px 0px 1px rgba(20, 21, 26, 0.1));
  filter: drop-shadow(0px 3px 6px rgba(20, 21, 26, 0.08))
    drop-shadow(0px 7px 14px rgba(71, 77, 87, 0.08))
    drop-shadow(0px 0px 1px rgba(20, 21, 26, 0.1));
}

.css-1eeb0a2[data-popper-placement^='top'] > [data-popper-arrow] {
  bottom: -3px;
}

.css-1eeb0a2 > .gap-fill {
  position: absolute;
  display: block;
}

.css-1eeb0a2[data-popper-placement^='top'] > [data-popper-arrow]::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.css-1eeb0a2[data-popper-placement^='top'] > .gap-fill {
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 8px;
}

.css-1eeb0a2[data-popper-placement^='bottom'] > [data-popper-arrow] {
  top: -3px;
}

.css-1eeb0a2[data-popper-placement^='bottom'] > [data-popper-arrow]::before {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

.css-1eeb0a2[data-popper-placement^='bottom'] > .gap-fill {
  top: -8px;
  left: 0;
  width: 100%;
  height: 8px;
}

.css-1eeb0a2[data-popper-placement^='left'] > [data-popper-arrow] {
  right: -3px;
}

.css-1eeb0a2[data-popper-placement^='left'] > [data-popper-arrow]::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.css-1eeb0a2[data-popper-placement^='left'] > .gap-fill {
  top: 0;
  right: -8px;
  width: 8px;
  height: 100%;
}

.css-1eeb0a2[data-popper-placement^='right'] > [data-popper-arrow] {
  left: -3px;
}

.css-1eeb0a2[data-popper-placement^='right'] > [data-popper-arrow]::before {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.css-1eeb0a2[data-popper-placement^='right'] > .gap-fill {
  top: 0;
  left: -8px;
  width: 8px;
  height: 100%;
}

.css-1jdwzw9 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff !important;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 4px;
}

.css-1d9nz27 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: currentColor;
  width: 24px;
  height: 24px;
  font-size: 24px;
  fill: #1e2026;
  fill: currentColor;
  color: #caced3;
  width: 1em;
  height: 1em;
}

.css-1d9nz27:hover {
  color: #76808f;
}

.css-xvxpe5 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  margin-bottom: 24px;
  margin-bottom: 24px;
}

.css-1d61qm3 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #474d57;
  font-size: 14px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.css-s6cz5e {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  cursor: pointer;
}

.css-s6cz5e:hover input:not(:disabled) ~ svg {
  fill: var(--accent);
}

.css-p19g2b {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.css-13xzh44 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  margin-right: 8px;
  border-radius: 4px;
  color: #e6e8ea;
  margin-right: 4px;
  position: relative;
  top: -4px;
  width: 20px;
  height: 20px;
}

input:checked ~ .css-13xzh44 {
  fill: var(--accent);
}

.css-mkf9mu {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: none;
  fill: #1e2026;
  fill: currentColor;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  margin-right: 8px;
  border-radius: 4px;
  color: #e6e8ea;
  margin-right: 4px;
  position: relative;
  top: -4px;
  width: 20px;
  height: 20px;
}

input:checked ~ .css-mkf9mu {
  display: block;
}

input:disabled:checked ~ .css-mkf9mu {
  fill: #e6e8ea;
  cursor: not-allowed;
}

input:checked ~ .css-mkf9mu {
  fill: var(--accent);
}

.css-2s0lax {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: block;
  fill: #1e2026;
  fill: currentColor;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  margin-right: 8px;
  border-radius: 4px;
  color: #e6e8ea;
  margin-right: 4px;
  position: relative;
  top: -4px;
  width: 20px;
  height: 20px;
}

input:checked ~ .css-2s0lax {
  display: none;
}

input:disabled ~ .css-2s0lax {
  opacity: 0.5;
  cursor: not-allowed;
}

input:checked ~ .css-2s0lax {
  fill: var(--accent);
}

.css-1yig44t {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  line-height: 18px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 12px;
}

.css-1yig44t a {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: var(--accent);
}

.css-1yig44t a:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
  color: #f8d12f;
}

.css-1l5sce {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #212833;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  min-height: 32px;
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--accent);
  width: 100%;
  height: 40px;
}

.css-1l5sce:disabled {
  cursor: not-allowed;
  background-image: none;
  background-color: #e6e8ea;
  color: #aeb4bc;
}

.css-1l5sce:hover:not(:disabled):not(:active) {
  box-shadow: none;
  background-color: #f8d12f;
}

.css-4tar7t {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.css-2bc2yz {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  background-color: var(--accent);
  height: 100%;
  width: 3px;
  -webkit-animation: animation-hqgv56 1.2s infinite ease-in-out;
  animation: animation-hqgv56 1.2s infinite ease-in-out;
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

@-webkit-keyframes animation-hqgv56 {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes animation-hqgv56 {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.css-i6pav4 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  background-color: var(--accent);
  height: 100%;
  width: 3px;
  -webkit-animation: animation-hqgv56 1.2s infinite ease-in-out;
  animation: animation-hqgv56 1.2s infinite ease-in-out;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

@-webkit-keyframes animation-hqgv56 {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes animation-hqgv56 {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.css-o1uf9l {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  background-color: var(--accent);
  height: 100%;
  width: 3px;
  -webkit-animation: animation-hqgv56 1.2s infinite ease-in-out;
  animation: animation-hqgv56 1.2s infinite ease-in-out;
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes animation-hqgv56 {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes animation-hqgv56 {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.css-14jhrrk {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  background-color: var(--accent);
  height: 100%;
  width: 3px;
  -webkit-animation: animation-hqgv56 1.2s infinite ease-in-out;
  animation: animation-hqgv56 1.2s infinite ease-in-out;
  -webkit-animation-delay: -0s;
  animation-delay: -0s;
}

@-webkit-keyframes animation-hqgv56 {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes animation-hqgv56 {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.css-1t7hq76 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 17px;
  color: #76808f;
  margin-top: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.css-13685xg {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-size: 12px;
  color: #d0980b;
  -webkit-text-decoration: none;
  text-decoration: none;
  line-height: 17px;
}

.css-13685xg:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
  color: #f8d12f;
}

.css-1aw68ke {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 12px;
  color: #474d57;
}



.thank-you {
  width: 300px;
  margin-top: 16px
}

.thank-you__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: .3px;
  text-align: center;
  color: #565b6c
}

.thank-you__note {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .45px;
  color: #898d9f;
  text-align: center;
  margin-top: 40px
}

.thank-you__note>a {
  color: #0157ff;
  margin-left: 4px
}

.thank-you>span {
  margin: 0
}

@media (min-width: 768px) {
  .thank-you {
      width:480px
  }
}

.sign-up-form {
  background-color: var(--light-gray-10);
  padding-top: 56px;
  width: 300px;
  margin: auto
}

.sign-up-form__header {
  color: #000;
  font-weight: 700;
  text-align: center;
  font-size: 36px;
}

.sign-up-form__footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 480px;
  margin: auto;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 24px;
  font-size: 14px
}

.sign-up-form__footer>div {
  padding: 8px 16px;
  background-color: #eff0f5;
  border-radius: 3px;
  color: #898d9f;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .45px
}

.sign-up-form__footer>div:first-of-type {
  width: 198px;
  margin-right: 16px
}

.sign-up-form__footer>div:last-child {
  width: 265px
}

.sign-up-form__footer>div:last-child>span {
  font-size: 20px;
  margin-right: 4px
}

.sign-up-form__footer a {
  padding-left: 4px;
  border-bottom: none;
  font-weight: 500;
  color: #0157ff
}

.sign-up-form__content {
  position: relative;
  min-height: 808px;
}

.sign-up-form__terms {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: .6px;
  color: #898d9f;
  text-align: center;
  position: absolute;
  width: 300px;
  margin-top: 24px;
  padding: 0 24px
}

.sign-up-form__terms>span>a {
  -webkit-text-decoration: underline dashed;
  text-decoration: underline dashed
}

@media (min-width: 768px) {
  .sign-up-form {
      padding-top:72px;
      width: 480px
  }

  .sign-up-form__footer>div {
      padding: 8px 16px
  }

  .sign-up-form__terms {
      width: 480px
  }
}